FreeDashboard_IO_Data Visualization/DisplayController/DisplayController.json
[{"id":"21d344f0.7db974","type":"mqtt in","z":"8e803066.dda71","name":"Temperature Mesurement Subscriber","topic":"tempMeasurement","qos":"2","broker":"4fefe42c.90df64","x":185,"y":84,"wires":[["304cf608.73edea"]]},{"id":"b9de14b7.d5c38","type":"dweetio out","z":"8e803066.dda71","thing":"iotsuite-DashBoard","name":"TemperatureDweet","x":608,"y":71,"wires":[]},{"id":"304cf608.73edea","type":"function","z":"8e803066.dda71","name":"Temperature Parser","func":"data = JSON.parse(msg.payload);\nmsg.payload = data.tempValue;\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":139,"wires":[["b9de14b7.d5c38","4285e544.4ab53c"]]},{"id":"1a7e2bab.dc651c","type":"mqtt in","z":"8e803066.dda71","name":"Humidity Mesurement Subscriber","topic":"humidityMeasurement","qos":"2","broker":"4fefe42c.90df64","x":172,"y":210,"wires":[["7ec21681.20f778"]]},{"id":"6e70c99e.294548","type":"dweetio out","z":"8e803066.dda71","thing":"iotsuite-DashBoard-humidity","name":"HumidityDweet","x":598,"y":240,"wires":[]},{"id":"7ec21681.20f778","type":"function","z":"8e803066.dda71","name":"Humidity Parser","func":"data = JSON.parse(msg.payload);\nmsg.payload = data.humidityValue;\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":270,"wires":[["6e70c99e.294548","4f5196f.227fa68"]]},{"id":"4285e544.4ab53c","type":"debug","z":"8e803066.dda71","name":"","active":false,"console":"false","complete":"false","x":643,"y":190,"wires":[]},{"id":"4f5196f.227fa68","type":"debug","z":"8e803066.dda71","name":"","active":true,"console":"false","complete":"false","x":591,"y":315,"wires":[]},{"id":"4fefe42c.90df64","type":"mqtt-broker","z":"8e803066.dda71","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]